body{
    /* background:chocolate; */
    /* background:rgba(255, 255,255,.8); */
    background: url("/images/restaurant_icons.png");
    /* filter: blur(3px); */
    text-align: center;
    text-align: justify;
/* text-justify:inter-ideograph; */
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to top,yellow,orange); */
}
a:hover{
    color:white !important;
}
nav.active{
    transform: translateY(-70px);
} 
li{
    list-style: none;
}
i{  color:orange;}



