.animationShape{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100000;
    pointer-events: none;
    background: #9b7850;
    animation: hidetip 2s 1;
    animation-delay: 750ms;
    animation-fill-mode:forwards;
}
@keyframes hidetip {
        0%{opacity: 1;}
      70% {opacity: 1;}
	 100% {opacity: 0;}

    /* from {
      opacity: 1;
    }
    to {
        display: none;
      opacity: 0;
    } */
  }
.container-fluid{
    padding: 0;
}
.container-fluid .d-flex{
    justify-content: space-between;
}
.left-wraper{
    position: fixed;
}
.left-bg{
    width: 50vw;
    height: 100%;
    background: url("img/about-1.jpg") 0 center no-repeat fixed;
    background-size: contain;
    overflow: hidden;
}
.left-bg2{
    width: 50vw;
    height: 100%;
    background: url("img/147155261.jpg") 0 center no-repeat  fixed;
    background-size: contain;
    overflow: hidden;
    
}
.left-bg3{
    width: 50vw;
    height: 100%;
    background: url("img/1658033ef625a00.jpg") 0 center no-repeat fixed;
    background-size: contain;
    overflow: hidden;
}
.container-fluid .d-flex .left ul{
    width: 50vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    background: rgba(255, 255, 255, .5);;
    position: fixed;
    bottom: 0;
    transition: .5s;
}
.left ul li{
    list-style: none;
}
.left ul li:hover a{
    background: #9b7850;
    color: white !important;
    text-decoration: none;
    font-weight: 700;
    text-shadow: none;
}
.left ul li a{
    display: block;
    padding: 10px 40px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 0 0 2px white;
    font-weight: 700;
}

@media screen and (max-width:1100px){
    .container-fluid .d-flex{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 400px;
        position: relative;
    }
    .left-bg,.left-bg2,.left-bg3{
        width: 100%;
        height: 70vh;
        /* height: 100%; */
        background-size: cover;
        /* background-position: center center; */
    }
    .container-fluid .d-flex .left ul{
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    /* .left ul li a{
        padding: 10px 12px;
        letter-spacing: 4px;
    } */
    

}
.right-wrapper{
    margin-top: 50px;
    width: 50%;
}
.right{
    overflow: hidden;
    padding-top: 60px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.right h5{
    margin: 18px 0;
}
.right hr{
    margin: 0;
    padding: 0;
}
.right ul{
    margin-top: 40px;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0 ;
    padding-right: 10px;
}
.right ul li {
    list-style: none;
    align-items: center;
    /* padding-right: 40px; */
}
.right ul li h4{
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    margin-left: 20px;
}
h4{
   width: 100%;
   /* height: 5px; */
}
.text p{
    text-align: left;
}

.right ul li a img{
    max-width: 200px;
    transition: .5s;    
}
.right ul li a:hover img{
    transform: scale(1.2);
}
/* .heart{
    padding: 0 50px;
} */
@media screen and (max-width:1100px){
    .animationShape{
        display: none;
    }
    .right-wrapper{
        margin-top: 30px;
        width: 100%;
    }
    .right{
        padding-top: 20px;
        margin: 0 auto;
    }
    .right h3{
        font-size: 20px;
        letter-spacing: 3px;
    }
    .right ul {
        width: 40vw;
        margin: 0 auto; 
    }
    .right li{
        padding: 0;
    }
}
@media screen and (max-width:790px){
    .left{
        width: 100%;
        height: 300px;
        position: relative;
    }
    .left-bg,.left-bg2,.left-bg3{
        width: 100%;
        /* height:50vh; */
        /* height: 100%; */
        background-size: 100%;
        background-position: 0 0;
    }
    .animationShape{
        display: none;
    }
    .right-wrapper{
        margin-top: 20px;
        width: 100%;
    }
    .right{
        padding-top: 10px;
        margin: 0 auto;
    }
    .right h3{
        font-size: 20px;
        letter-spacing: 3px;
    }
    .right ul {
        width: 60vw;
        margin: 0 auto;
    }
    .right li{
        padding: 0;
    }
    .left ul li a{
        padding: 10px 20px;
        letter-spacing: 8px;
    }
    .right ul li a img{
        max-width: 150px;
        transition: .5s;    
    }
    h1{
        font-size: 2.5rem;
    }

}
@media screen and (max-width:500px){
    .left{
        width: 100%;
        height: 230px;
        position: relative;
    }
    .left-bg,.left-bg2,.left-bg3{
        width: 100%;
        /* height:50vh; */
        /* height: 100%; */
        background-size: 100%;
        background-position: 0 0;
    }
    .right-wrapper{
        margin-top: 15px;
        width: 100%;
    }
    .right{
        padding-top: 5px;
        margin: 0 auto;
    }
    .right h3{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .right ul {
        width: 80vw;
        margin: 0 auto;
    }
    .right li{
        padding: 0;
    }
    .left ul li a{
        padding: 10px 12px;
        letter-spacing: 4px;
    }
    h1{
        font-size: 2rem;
    }
}